.offset {
   margin-left: 100px;
}
.col-md6 {
   margin-top: 15px;
   width: 600px;
   background-color: #F5F5F5;
}
.border {
   border-left: 1px solid black!important;
   border-right: 1px solid black!important;
   border-top: 1px solid black!important;
   border-bottom: 1px solid black!important;
}
.comment-offset {
   margin-left: 20px;
   max-width: 580px;
   text-overflow: ellipsis;
   word-break:break-all;
}
.offset-rate {
   margin-left: 130px;
}
.taf {
   margin-top: 10px;
   width: 430px;
   height: 150px;
}
.search_bar {
   width: 600px;
}
.del_btn {
   margin-left:370px;
   margin-bottom:20px;
}