<HTML>
    <HEAD>
        <p1>Оставьте свой отзыв!</p1>
        <title>Отзыв о сайте</title>
    </HEAD>
    <BODY>
        <form name="review" method="post" action="gratitude">
        <p><b>Как вас зовут?</b><br>
        <input type="text" size="40">
        </p>
        <p><b>Как оцениваете работу нашего сайта?</b><br>
            <input type="radio" name="rev" value="bad"> Плохо<br>
                <input type="radio" name="rev" value="good"> Хорошо<br>
                    <input type="radio" name="rev" value="excellent"> Отлично<br>
        </p>
        <p>Комментарий<br>
            <textarea name="comment" cols="40" rows="3"></textarea></p>
            <p><input type="submit" value="Отправить">
                <input type="reset" value="Очистить"></p>
        </form>
    </BODY>
</HTML>